// fonts
$fontPrincipal:roboto, sans-sarif;

// cores
$body:#f5f6fa;
$header:#182C61;
$productButton:#44bd32;
$corButton:#fff;
$pButtonHover:#4cd137;
$liA:#fff;

// breakPoints
$mobile:767;
$tablet:1023;